.back{
    width: 100px;
    height: 30px;
    background: #ffffffaa;
    z-index: 4;
    position: fixed;
    top: 80px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 4px 4px 10px -3px rgba(0,0,0,0.75);
    span{
        text-align: center;
        font-size: 20px;
        font-weight: 1000;
        color: #0096C7;
        transition: all .3s;
        opacity: .6;

    }
    &:hover span{ 
        opacity: 1;
        cursor: pointer;
    }
}