$categories : ("28" : #F72585, "12" : #B5179E, "16" : #7209B7, "35" : #560BAD, "80" : #480CA8, "99" : #3A0CA3, "18" : #3F37C9, "10751" : #4361EE, "14" : #4895EF, "36" : #4CC9F0, "27" : #33415C, "10402" : #5C677D, "9648" : #7D8597, "10749" : #979DAC, "878" : #A3A380, "10770" : #D6CE93, "53" : #EFEBCE, "10752" : #D8A48F, "37" : #BB8588);

.categories {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    &__title {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 10px 0;

        h2 {
            font-size: 30px;
            letter-spacing: 5px;
            color: #48CAE4;
            z-index: 1;
        }
    }

    &__content {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &__category {
            width: 160px;
            height: 50px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background: #00B4D8;
            margin: 10px 10px 0 0;
            text-align: center;
            border-radius: 10px;
            transition: all .3s;
            box-shadow: 4px 4px 10px -3px rgba(0, 0, 0, 0.75);

            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }

            &:hover img {
                /* transform: rotate(50deg); */
                animation: rotate 1s ease;
            }

            img {
                width: 35px;
                height: 35px;
                border: 1px solid #000;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
                transition: all .3s;
            }

            p {
                font-family: 'Roboto';
                font-size: .9rem;
                letter-spacing: 1px;
            }
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(50deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@each $genre,
$color in $categories {
    #genre-#{$genre} {
        background: $color !important;
    }
}