.movies {
    position: relative;
    width: 100%;
    margin-top: 70px;
    &__title {
        position: relative;
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        padding: 10px 0;
        h2 {
            font-size: 30px;
            letter-spacing: 5px;
            color: #48CAE4;
            z-index: 1;
        }
    }

    &__cards {
        display: flex;
        justify-content: center;
        gap: 5px;
        flex-wrap: wrap;
        padding-bottom: 15px;
        width: 100%;
        &__card {
            width: 200px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            transition: all .3s;
            &__img {
                height: 80%;
                width: 100%;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                img {
                    width: 85%;
                    height: 85%;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 10px;
                    box-shadow: 4px 4px 10px -3px rgba(0, 0, 0, 0.75);
                }
            }

            &__info {
                height: 20%;
                position: relative;

                p {
                    margin-top: 5px;
                    text-align: center;
                    width: 100%;
                    font-size: .9rem;
                    color: #fff;
                }
            }

            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }
}