@mixin desktop {
    @media (max-width: 1100px) {
        @content;
    }
}

@mixin tablets {
    @media (max-width:790px) {
        @content;
    }
}

@mixin phone {
    @media (max-width:550px) {
        @content;
    }
}

@include tablets() {
    .navigation {
        &__left {
            &__logo {
                font-size: 1.5rem !important;
            }

            &__text {
                font-size: 1.5rem !important;
            }
        }

        &__right {
            i {
                font-size: 1.2rem !important;
            }

            &__search {
                input {
                    font-size: 1.2rem !important;
                    height: 1.4rem;
                }
            }

        }
    }

    .movie {
        &__cast {
            &__cards {
                &__img {
                    img {
                        width: 100px !important;
                    }
                }
            }
        }
    }
}

@include phone() {
    
    .navigation {
        &__left {
            width: 50% !important;

            &__logo {
                font-size: 1.3rem !important;
            }

            &__text {
                font-size: 1.3rem !important;
            }
        }

        &__right {
            width: 50% !important;
            i {
                font-size: 1.3rem !important;
                margin-right: 5px !important;
            }

            &__search {
                input {
                    display: inline-block !important;
                    font-size: 1.3rem !important;
                    width: 90% !important;
                    margin-right: 10px !important; 
                }
            }

        }
    }
    .header {
        &__title {
            font-size: 50px !important;
        }
        &__subtitle {
            font-size: 20px !important;
        }
    }
    .categories {
        padding: 5px !important;
        &__content {
            &__category {
                width: 130px !important;
                height: 40px !important;
            }
        }
    }

    .movie {
        &__info {
            flex-direction: column;
            align-items: center;
            &__img {
                width: 90% !important;
            }
            &__text {
                width: 90% !important;
                h1 {
                    text-align: center;
                    font-size: 2rem !important;
                }
            }
        }
        &__media {
            width: 100%;
            flex-direction: column;
            

            &__trailer {
                width: 100% !important;
            }

            &__gallery {
                width: 100% !important;
            }
        }

        &__cast {
            &__cards {
                &__img {
                    img {
                        width: 100px !important;
                    }
                }
            }
        }
    }
}